In [3]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv("weather_data.csv")

In [9]:
df

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0             1   41.0    190.0   7.4     67     5    1  2025    67       S
1             2   36.0    118.0   8.0     72     5    2  2025    72       C
2             3   12.0    149.0  12.6     74     5    3  2025    74      PS
3             4   18.0    313.0  11.5     62     5    4  2025    62       S
4             5    NaN      NaN  14.3     56     5    5  2025    56       S
..          ...    ...      ...   ...    ...   ...  ...   ...   ...     ...
156         155   30.0    193.0   6.9     70     9   26  2025    70      PS
157         156    NaN    145.0  13.2     77     9   27  2025    77       S
158         157   14.0    191.0  14.3     75     9   28  2025    75       S
159         158   18.0    131.0   8.0     76     9   29  2025    76       C
160         158   18.0    131.0   8.0     76     9   29  2025    76       C

[161 rows x 10 columns]

In [10]:
# DATAFRAME SHAPE
df.shape

(161, 10)

In [12]:
df.head(10)

   Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0           1   41.0    190.0   7.4     67     5    1  2025    67       S
1           2   36.0    118.0   8.0     72     5    2  2025    72       C
2           3   12.0    149.0  12.6     74     5    3  2025    74      PS
3           4   18.0    313.0  11.5     62     5    4  2025    62       S
4           5    NaN      NaN  14.3     56     5    5  2025    56       S
5           6   28.0      NaN  14.9     66     5    6  2025    66       C
6           7   23.0    299.0   8.6     65     5    7  2025    65      PS
7           8   19.0     99.0  13.8     59     5    8  2025    59       C
8           9    8.0     19.0  20.1     61     5    9  2025    61      PS
9          10    NaN    194.0   8.6     69     5   10  2025    69       S